.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #f8fafc;
    font-family: 'Outfit', sans-serif;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}